body {
 font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #111;
    margin: 0;
    padding: 0px;
    background-color: #fff;
}

.header_div
 {
 	width:100%;
 	background-color: #ff9900;
 	text-align: right;
  margin: auto;

 }
 .side_div{
  width:10%;
  float:left;
  background-color: #64D8CA;
  height:752px;
  padding: 12em 0;
 }
 .side_div a{
  color:#686d75;
  text-align: center;
  display:block;
  font-weight:bold;
}
#btn_logout{
    width:100%;
  background-color: #ff9900;
  text-align: right;
  margin: auto;
}
.div_for_button
{
  margin-right: 10%;
}
.registration_form{
	margin-top: 5%;
}
form{
	text-align: center;
	background-color: #E0FFFF;
	width: 40%;
	margin:auto;
	padding:35px 0 15px 0;

}

.input{
  width: 300px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
    border-color: black; 
  
  }
 
 
 .error_form{
  color : red;
}
.error_class{
  border:1px dotted red !important;
} 